EXPO_PUBLIC_SOLANA_DEVNET_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_SOLANA_MAINNET_RPC_URL=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_SOLANA_NETWORK=devnet
EXPO_PUBLIC_JUPITER_API_URL=https://lite-api.jup.ag/swap/v1
EXPO_PUBLIC_JUPITER_TOKEN_SEARCH_URL=https://lite-api.jup.ag/ultra/v1/search
EXPO_PUBLIC_ENABLE_NOTIFICATIONS=true
